<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>注册</title>
    <link rel="stylesheet" href="/poi/css/login.css">
    <script type="text/javascript" src="/poi/js/jquery.min.js"></script>
    <script type="text/javascript" src="/poi/js/index.js"></script>
    <script src="/poi/js/layui.js" charset="utf-8"></script>
</head>
<body class="login-bg">
<canvas id="fullstarbg" style="background: url(img/bg.jpg)">你的浏览器不支持canvas标签</canvas>
<div class="login">
    <div class="message">青年大学习截图系统注册</div>
    <div id="darkbannerwrap"></div>
    <form method="post" class="layui-form" id="login">
        <input v-model="Name" placeholder="请输入用户名" type="text" lay-verify="required" class="layui-input">
        <span style="color: red;" v-text="flag"></span>
        <hr v-show="state" class="hr15">
        <input v-model="Pwd" lay-verify="required" id="pwd" placeholder="请输入密码" type="password"
               class="layui-input">
        <hr class="hr15">
        <input v-model="Pwd2" @change="isPwd" lay-verify="required" placeholder="请再次输入密码" type="password"
               class="layui-input">
        <hr class="hr15">
        <input v-model="ClassName" lay-verify="required" placeholder="请输入你的班级" class="layui-input">
        <hr class="hr15">
        <input v-model="WebHook" lay-verify="required" placeholder="请输入WebHook地址" class="layui-input">
        <span style="color: red;font-size: 11px;">此功能为在QQ群中发送提示，可不填写，但发送提示功能将无效</span>
        <input value="注册" lay-submit lay-filter="login" style="width:100%;" type="button" @click="register">
        <hr class="hr20">
    </form>
</div>
<script src="js/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<!-- 底部结束 -->
<script>
    const login = new Vue({
        el: "#login",
        data: {
            Name: "",
            Pwd: "",
            Pwd2: "",
            ClassName: "",
            WebHook:"",
            flag: "",
            state: true
        },
        methods: {
            register() {
                if (!this.Name.match("^[\\u4e00-\\u9fa5]+$")) {
                    this.flag = "用户名必须为中文";
                    this.state = false;
                    return;
                }
                this.$http.post("/poi/Register.do", {
                    "Name": this.Name,
                    "Pwd": this.Pwd,
                    "ClassName": this.ClassName,
                    "WebHook":this.WebHook
                }, {emulateJSON: true}).then(
                    function (rs) {
                        if (rs.body) {
                            alert("注册成功")
                            window.location.href = "/poi/show.html"
                        } else {
                            alert("注册失败")
                        }
                    },
                    function (err) {
                        console.log(err);
                        alert("请求数据失败！请重试!")
                    }
                )
            }
            ,
            isPwd() {
                if (this.Pwd != this.Pwd2) {
                    alert("2次密码不一致");
                    this.Pwd = "";
                    this.Pwd2 = "";
                    jQuery("#pwd").focus();
                }
            }
        }
    })
</script>
</body>
</html>